<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="/public/assets/css/style.css" type="text/css" />
	<title>Make Your Burger</title>
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/public/assets/js/burger.js"></script>
</head>

<body>
	{{{ body }}}
</body>

</html>