<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Burger APP</h1>
    <p class="lead">Enter a burger so it gets devoured by our Database for ever!</p>
  </div>
</div>

<form>
  <div class="form-row">
    <div class="col-1">
      <input type="text" class="form-control submission" placeholder="Enter Burger Ingrediants Here">
    </div>

    <button type="submit" class="btn btn-primary submit">Submit</button>
</form>


<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Submitted</h5>
    <h6 class="card-subtitle mb-2 text-muted">Would you like to devour this burger</h6>
    <p class="card-text submissionCard">SUBMIT BURGER GOES HERE</p>
    <button type="submit" class="btn btn-success devour">Devour</button>
    <button type="submit" class="btn btn-danger edit">Edit</button>

  </div>
</div>



